.slide{
    opacity: 0;
    transition: all 1.2s;
}
.from-left{
    transform: translateX(-100px);
}
.from-right{
    transform: translateX(100px);
}
.from-top{
    transform: translateY(-100px);
}
.from-bottom{
    transform: translateY(100px);
}

.slide.visible{
    opacity: 1;
    transform: translate(0);
}

.nav-links ul li:nth-child(1){
    transition-delay: .3s;
}
.nav-links ul li:nth-child(2){
    transition-delay: .6s;
}
.nav-links ul li:nth-child(3){
    transition-delay: .9s;
}
.nav-links ul li:nth-child(4){
    transition-delay: 1.2s;
}
.nav-links ul li:nth-child(5){
    transition-delay: 1.5s;
}














/* navbar */

/* .logo{
    animation: slidefromleft 1.5s ease-out forwards;
}
.nav-links li{
    opacity: 0;
    animation:slidefromright 1s ease-out forwards;
}
.nav-links li:nth-child(1){
    animation-delay: .3s;
}

.nav-links li:nth-child(2){
    animation-delay: .6s;
}

.nav-links li:nth-child(3){
    animation-delay: .9s;
}

.nav-links li:nth-child(4){
    animation-delay: 1.2s;
}

.nav-links li:nth-child(5){
    animation-delay: 1.4s;
}



@keyframes slidefromleft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} */

/* hero-section */

/* #ani-1{
    animation: slidefromtop 1.5s ease-out forwards;
}
#ani-2{
    animation: slidefromleft 1.5s ease-out forwards;
}
#ani-3{
    animation: slidefromright 1.5s ease-out forwards;
}
#ani-4{
    animation: slidefromleft 1.5s ease-out forwards;
}
#ani-5{
    animation: slidefromdown 1.5s ease-out forwards;
}


@keyframes slidefromtop {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform:  translateY(0);
        opacity: 1;
    }
}

@keyframes slidefromdown {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform:  translateY(0);
        opacity: 1;
    }
}

@keyframes slidefromright {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform:  translateX(0);
        opacity: 1;
    }
} */

/* about-section */
/* .heading{
    animation: 1s slidefromtop ease-out forwards;
    opacity: 0;
}

.about-img{
    opacity: 0;
    animation: slidefromleft 1s ease-out forwards;
}
.about-me{
    opacity: 0;
    animation: slidefromright 1s ease-out forwards;
} */